:root{
    --primary-color: #FFF;
    --second-color: #1B1B1B;
    --third-color: rgb(44, 44, 44);
    --common-font: 'Open Sans', sans-serif;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--common-font);
}

/* <-------------------------------- DESKTOP FIRST ----------------------------------> */

header{
    background-color: var(--primary-color);
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 1.1rem;
    font-weight: 600;
  }

.banner-home{
    background-image: url(../img/banner-sistema-solar.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
  }

  .banner-card{
    color: #FFF;
    padding: 30px 200px;
    width: 600px;
}

.slider-pictures{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 40px 10px;
    -ms-overflow-style: scroll; 
    scrollbar-width: none; 
 }

 .slider-pictures ul {    
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
 }

 .slider-picture-picture{
    border-radius: 20px;
    width: 270px;    
    min-width: 170px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 450ms all;
    transform-origin: center left;
    transition: transform .5s;
  }

  .slider-picture-picture:hover{
    transform: scale(1.1);
  }

  .img-slider-home{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* Estilos Carrousel */

.carrouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-color);
    align-items: stretch;
}

.carrouselBotoneraTitulo {    
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
    align-items: center;
}

.carrouselBotoneraTitulo h3 {
    margin-top: 50px;
    font-family: var(--common-font);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: center;
    font-size: 4vw;
}

.corrouselBotonera {
    font-size: 2vw;
    margin-bottom: 20%;
    color: var(--primary-color);
}

.corrouselBotonera i:hover {
    color: gray;
}
  /* estilos para el grid */

html{

    scroll-behavior: smooth; /*suaviza el salto hacia el grid*/
  }

#grid {
    scroll-snap-type: y proximity;
    transition: scroll-snap-type 0.3s ease-in-out;
}
  .grid-container-home{
 
    margin: 2vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1vw;
  }
.grid-item-home{
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
    transition: 450ms all;
    transform-origin: center left;
    transition: transform 500ms;
}

.grid-item-home:hover{
    transform: scale(1.05);
  }

  /* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color:#413583;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #1dd7dd;
    width: 50%;
    max-width: 600px;
    background-image: url('/static/img/freepik-export-202404281855263FSG.jpeg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajustar la imagen al tamaño del modal */
    background-position: center; /* Centrar la imagen */
}

.close {
    color: #34d6f3; 
    font-size: 28px;
    font-weight: bold;
    position: absolute;/*ajusra la posicion*/
    top: 5px;
    right: 10px;
    cursor: pointer;/* Cambiar el cursor al pasar sobre el botón */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration:none;
    cursor: pointer;

}

#modalRegistro {
    /* Otros estilos del modal */
    color: aqua;
    text-align: center; /* Centrar el contenido del modal */
}

/* Estilo para el encabezado "Registro" */
#modalRegistro h2 {
    color: #2ed1fa;
    font-family: var(--common-font); /* Cambiar la fuente del encabezado */
    font-size: 24px; /* Cambiar el tamaño de la letra del encabezado */
    font-weight: bold; /* Establecer negrita para el encabezado */
    margin-bottom: 20px; /* Añadir espacio debajo del encabezado */
}
#modalRegistro form {

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2ed1fa;
}

/*Estilos para Header NAV*/
.containerMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 0 50px;
    background-color: var(--second-color);
    color: var(--primary-color);
}

.containerMenu img {
    height: 80%;
    width: 80%;
}

.containerMenu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navStyle {
    padding: 10px 10px;
    width: auto;
    display: inline-block;
    text-align: center;
    margin: 0 10px 0 0;
}

.navStyle a {
    font-family: var(--common-font); 
    text-transform: uppercase;
    color: var(--primary-color);
    padding: 10px 10px;
    width: auto;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.navStyle a:first-child{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.navStyle a:hover{
    background-color: var(--primary-color);
    color: var(--second-color);
}

.logoFont {
    color: white;
    font-weight: bold;
}

.logoImg {
    margin-bottom: 10px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(104deg) brightness(103%) contrast(103%);
}

.menuMobile {
    width: 3rem;
    display: none;
    float: right;
    text-align: right;
}

.menuMobile:hover {
    cursor: pointer;
}

.menuMobileList {
    display: none;
}

.menuMobileList  img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(104deg) brightness(103%) contrast(103%); 
}

.menuMobileList:hover  img{
    filter: invert(50%) sepia(100%) saturate(0%) hue-rotate(104deg) brightness(103%) contrast(103%); 
}

.menuMobile img {
    height: 8px;
    margin-bottom: 6px;
    display: block; 
    background-color: white;   
}

.containerNav {
    position: relative;
    align-items: center;
}

/*Estilos para Footer */

footer{
    height: 250px;
    background-color: var(--second-color);
    color: var(--primary-color);
    align-content: end;
}

.infoFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contactFooter {
    align-items: center;
    text-align: center;
    margin-right: 20px;
}

.contactFooter h4{
    margin-bottom: 10px;
}

.divFooter{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.divRedesFooter {
    margin-top: 20px;
}

.mapFooter h4{
    margin-left: 10px;
}

.ulFooter{
    list-style:none;
    margin: 15px;
    columns: 2; 
    -webkit-columns: 2; 
    -moz-columns: 2;     
}

.ulFooter li {
    padding: 3px;
}

.ulFooter a:hover {
    text-decoration-line: underline;
}

.iconsFooterSM{
    margin-top: 10px;
}

.iconsFooterSM a {   
    align-items: center;    
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.iconsFooterSM a:last-child {   
    margin-right: 0;
}


.telFooter i{
    margin-right: 10px;
    margin-left: 20px;
}

.telFooter a{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.copyrightFooter {
    background-color: #2e2e2e;
    color: white;
    padding: 10px ;
    margin-top: 30px;
    text-align: center; 
    font-family: var(--common-font);   
    font-size: 0.7rem;
}

.copyrightFooter span {
    font-weight: bold;
}

/*Fondo Testimonios*/

.divTestimonios {
    position: relative;
    height: 600px;
}

.divTestimonios::before {
    background-image: url(../img/imgTestimonio.jpg);  
    content: '';
}

.parallax::before { /*Significa efecto de fondo fijo*/
    width :100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;   /*Arrastrar y ver de fondo la imagen estatica*/
    -webkit-filter: brightness(.7);
    filter: brightness(.7);
}

.contenidoTestimonio {
    color:var(--primary-color);
    padding: 20px;
    text-align: center;
    position: relative;
}

.contenidoTestimonio p {
    font-size: 1.2em; 
 }
 
.contenidoTestimonio h3 {
     color:var(--primary-color);
     text-transform: uppercase; 
     font-size: 5vw;
     font-family: var(--common-font);
     margin-bottom: 20px;
  }
  
.contenidoTestimonio a {
     font-size: 1.6rem;
}

.casosExitoTestimonioContainer {
    display: flex;
    margin:20px 10px 0px 10px;
}

.casosExito {
    color:var(--primary-color);
    padding: 20px;
    text-align: center;
    position: relative;
    background-color: rgba(245, 127, 35, 0.42);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-family: var(--common-font);
}



.casosExitoTestimonioContainer :last-child{
    margin-left: 30px;
}

.casosExitoTestimonioContainer {
    display: flex;    
}

.casosExitodiv {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.casosExitodiv h3 {
    color:var(--primary-color);
    text-transform: uppercase; 
    font-size: 5vw;
    font-family: var(--common-font);
    text-align: center;
    margin-top: 20px;
}

.casosExito p {
    text-transform: lowercase;
    font-style: italic;
}

.casosExito span {
    font-weight: bold;
    text-align: right;
}

/* -----> CONTACTO <-------- */

.containerContacto{
    height: 400px;
    background-color:rgb(44, 44, 44);
}

.containerContacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerDatos {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
    font-family: var(--common-font);
    height: 100%;
    padding: 20px;
}



.agrupadoContactoDatos {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: flex-end;
}

.agrupadoContactoComentario {
    display: flex;
    flex-direction: column;
}

.agrupadoContactoDatos input {
    outline: none;
    background-color:rgb(44, 44, 44);
    border: none;
    color: rgba(255, 255, 255, 0.74);
    margin-top: 6px;
    height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.74);
    width: 300px;
}

.agrupadoContactoDatos label {
    text-transform: uppercase; 
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.1vw;
    color: white;
}

.agrupadoContactoComentario label {
    text-transform: uppercase; 
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.1vw;
    color: white;
}

.containerContacto button {
    border-radius: 20px;
    margin: 10px 0;
    padding: 8px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(245, 127, 35, 0.42);
    color: white;
    border: 0;
}

.agrupadoContactoComentario textarea {
    text-align: left;
}

.datos2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.error {
    color: red;
}

/*Resizeable*/

/* <-------------------------------- TABLET ----------------------------------> */

@media screen and (max-width: 768px) {
    .containerMenu {
        height: 80px;
    }
    .containerMenu a {
        font-size: 60%;
    }
    .containerMenu img {
        height: 70%;
        width: 70%;
    }  
    .navStyle a {
        font-size: 80%;
        
    }   

    .carrouselContainer {
        height: 400px;
    }

    .slider-pictures {
        height: auto;
    }

    .corrouselBotonera {
        font-size: 4vw;
    } 

    .agrupadoContactoComentario textarea {
        width: 80%;
    }    

    .agrupadoContactoDatos  label {
        font-size: 2vw;
    }

    .agrupadoContactoComentario label {
        font-size: 2vw;
    }    
}
/* <-------------------------------- MOBILE ----------------------------------> */
@media screen and (max-width: 576px) {
    
    .menuMobileList { 
        display: flex;
        width: 60px;
        justify-content: center;        
    }
    .menuMobile {
        display: block;
    } 
    .navStyle {
        display: none;
        position:absolute;
        top: 70px;
        right: 0;
        padding: 0;
        min-width: 100px;
        background-color: var(--primary-color);
        z-index: 1;       
    }
    .navStyle a:first-child{
        border: 0px;
        color: var(--second-color);
    }    
    .navStyle a {
        color: var(--second-color);
        display: block;
        text-align: center;
    }
    .navStyle a:hover{
        background-color: var(--second-color);
        color: var(--primary-color);
    }
    .containerMenu a{ 
        flex-direction: row;
        align-items: center;
    }
    .logoFont {
        font-size: 40px;
        margin-left: 20px;
    }
    .showNav {
        display: block;
    }

    .casosExitoTestimonioContainer {
        flex-direction: column;
        margin: 30px
    } 
    
    .casosExitoTestimonioContainer :last-child{
        margin-left: 0px;
    }

    .casosExito {
        padding: 10px;
        margin-top: 10px;
    }

    .casosExito p{
        font-size: 80%;
    }

    footer {
        font-size: small;

    }
    .ulFooter{
        list-style:none;
        margin: 15px;
        columns: 1; 
        -webkit-columns: 1; 
        -moz-columns: 1;     
    }

    .carrouselContainer {
        height: 300px;
    }

    .slider-pictures {
        height: auto;
        width: 60%;
    }

    .slider-picture-picture {
        width: 50%;
    }


    .datos {
        width: 50%;
    }    
    .agrupadoContactoDatos  label {
        font-size: 3vw;
    }
 
    .agrupadoContactoComentario label {
        font-size: 3vw;
    }  

      
}